/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f9;
  color: #333;
}

/* Header Styles */
.header {
  background-color: #26308b;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Ensure correct stacking context for the menu */
}

.header .title {
  font-size: 1.5em;
}

.admin-name {
  font-size: 1em;
  font-weight: bold;
  margin-left: auto;
  margin-right: 20px;
}

.menu-container {
  position: relative;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Ensure the menu is on top */
}

.menu a {
  display: block;
  color: #26308b;
  padding: 20px 20px;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

.menu a:last-child {
  border-bottom: none;
}

.card-link {
  text-decoration: none;
  display: block;
}

/* Dashboard Layout */
.dashboard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns for main content */
  gap: 65px 30px; /* Adjust the gap between the modules */
  padding: 20px;
  margin-top: 5px;
}

.module-wrapper {
  position: relative;
  margin-bottom: 40px; /* Space between modules and charts */
}

.module-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  gap: 20px;
  text-align: left;
  color: #26308b;
  height: 100%;
  transition: transform 0.2s;
}

.module-card a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.module-card:hover {
  transform: scale(1.06);
}

/* Chart Container */
.chart-placeholder {
  margin-top: 20px;
  position: relative;
  margin-top: 30px; /* Added space above the chart */
  margin-bottom: 30px; /* Added space below the chart */
  height: 250px; /* Set a height for the chart */
  width: 100%; /* Make sure chart takes full width */
  background: #f0f0f0; /* Optional: To make the chart placeholder visible */
}

footer {
  background-color: #d0d5fc;
  color: #26308b;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 70px;
}

footer p {
  font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .dashboard-container {
    grid-template-columns: 1fr; /* Single column on smaller screens */
    gap: 40px;
  }

  .module-card {
    margin: 15px 10px;
    padding: 15px;
  }

  .module-wrapper {
    position: relative;
  }

  footer {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .dashboard-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .module-card {
    margin: 10px;
    padding: 10px;
  }

  footer {
    font-size: 10px;
  }
}
