/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Container for the forgot password form */
  .forgot-password-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Logo container */
  .logo-container img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Form title styling */
  #formTitle {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Input field styling */
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  /* Button styling */
  button {
    background-color: #26308b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #df1c18;
  }
  
  /* Message and error styling */
  .message {
    color: #26308b;
    margin-top: 15px;
    font-size: 14px;
  }
  
  .error {
    color: red;
    margin-top: 15px;
    font-size: 14px;
  }
  
  /* For smaller screens */
  @media (max-width: 600px) {
    .forgot-password-container {
      padding: 15px;
    }
  }
  