* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #26308b;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .back-button {
    display: flex;
    align-items: center;
  }
  .back {
    width: 25px;
    margin-right: 15px; 
  }
  .header h1 {
    font-size: 24px;
  }
  .admin-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .admin-info p {
    margin-right: 20px; 
    margin-bottom: 0;    
  }
  
  .logout {
    color: #fff;
    text-decoration: none;
  }
  
  .logout:hover {
    text-decoration: underline;
    color: #fff;
  }
  
  .container {
    margin-top: 30px;
    padding: 30px 80px;
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: smaller;
  }
  
  .modal-header {
    background-color: #26308b;
    color: white;
    font-size: smaller;
  }
  .modal-body{
    font-size: smaller;
  }
  
  .table th, .table td {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap; /* Prevents line breaks */
    
  }
  .table-responsive {
    overflow-x: auto;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adds space between buttons */
  }
  
    
    .actions button {
    margin: 0 5px;
    }
  
  .btn-primary {
    margin-top: 30px;
    background-color: #26308b;
    border-color: #26308b;
    font-size: smaller;
  }
  
  .btn-success {
    background-color: #26308b;
    border-color: #26308b;
    font-size: smaller;
  }
  
  .btn-success:hover {
    background-color: #3543be;
  }
  
  .btn-danger {
    background-color: #ec1618;
    border-color: #f83f42;
    font-size: smaller;
  
  }
  .btn-danger:hover{
    background-color: #f83f42;
  }
  
  .btn-warning {
    background-color: #26308b;
    border-color: #3543be;
    font-size: smaller;
    color: #fff;
  }
  .btn-warning:hover {
    background-color: #3543be;
     color: #fff;
  }
  .btn-info{
    background-color: #26308b;
    border-color: #3543be;
    font-size: smaller;
    color: #fff;
  }
  .btn-info:hover{
    background-color: #3543be;
    color: #fff;
  }
  .btn-sm {
    padding: 5px 10px;
  }
  
  